.fade-enter-active,
.fade-leave-active {
  transition: all 1.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slidedown-enter-from,
.slidedown-leave-to {
  opacity: 0;
  transform: translateY(-24px)
}

.slidedown-enter-to,
.slidedown-leave-from {
  opacity: 1;
  transform: translateY(0)
}

.slidedown-enter-active,
.slidedown-leave-active {
  transition: all 1.2s ease;
}
 
.adapt-enter-active,
.adapt-leave-active {
  transition: all 1.2s ease;
  position: absolute;
}

.adapt-move {
  transition: all 1.2s ease;
}

